@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
}

:root {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
